.copy-text {
  cursor: pointer;
}
.copy-text:hover {
  background-color: #003100;
}
#loading {
    position: absolute;
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid #ccc;
    display: none;
}
td {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: rgba(255, 255, 255, 0.85);
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    font-size: 14px;
}

a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: rgba(255, 255, 255, 0.85);
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    font-size: 14px;
}

th {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
  font-size: 14px;
}

.sortable {
  cursor: pointer;
  font-weight: bold;
    border: none;
}

.sortable:hover {
  background-color: grey;
}
