html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #ddd;
  background-color: #222;
  margin: 0;
}

.text-center {
    text-align: center;
}

.h1, h1 {
    font-size: 39px;
}

  
table {
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #6d6d6d;
    text-align: center;
    padding: 3px;
  }
  
  td, th {
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
  }
  
  