:root {
    --background: black;
    --borders: black;
    --font: #a09a94;
    --highlighed: #a75f3c;
  }

.center {
    margin: 0 auto;
    text-align: center;
    border: 1px solid var(--borders);
    border-radius: 5px;
  }

body {
    color: var(--font);
    background-color: var(--background);
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.mine a:link {
    color: var(--highlighed);
}
.mine a:visited {
    color: var(--highlighed);
}

a:link {
    color: var(--font);
}
a:visited {
    color: var(--font);
}

.custom-table thead tr, .custom-table thead th {
    border-top: none;
    border-bottom: none !important;
    color: #fff;
}

.custom-table tbody tr:not(.spacer) {
    border-radius: 7px;
    overflow: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.custom-table tbody tr th:first-child, .custom-table tbody tr td:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.custom-table tbody th, .custom-table tbody td {
    color: var(--font);
    font-weight: 400;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.custom-table tbody tr th, .custom-table tbody tr td {
    background: #25252b;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.mine td {
    color: var(--highlighed) !important;
}

td {
    padding: 3px;
    border: 1px solid var(--borders);
}

th {
    padding: 5px;
    font-weight: bold;
}

#leftcharcontainer {
    float: left;
}

.markettable {
    
    border-collapse: collapse;
    border-spacing: 0;
}

.markettable td {
    border: 1px solid #dddddd2e;
    text-align: center;
}

.markettable  tr td:first-child{
    text-align: left;
}

.marketred td {
    background-color: #360b0b;
}

.green {
    background-color: #004606;
}

.centered {
    text-align: center;
}

.greentr td {
    background-color: #003100 !important;
}

.redtr td {
    background-color: #360b0b !important;
}

.totalcost {
    color: #ba2828 !important;
}

.totalsell {
    color: #2e852e !important;
}

.orange {
    color: #c1940e !important;
}

.low {
    background-color: #583700 !important;
}

.medium {
    background-color: #583300 !important;
}

.high {
    background-color: #5e0000 !important;
}

.redrow td {
    border-bottom: 1px solid #5e0000;
}

#soldItemsTable {
    border-collapse: collapse;
}

#soldItemsTable td {
    text-align: center;
}

.row {
    display: flex;
    align-items: flex-start; /* Align content to the top */
}

.column {
    flex: 50%;
}

.column table {
    margin: 0 auto; /* Center horizontally */
}